---
- name: Set force offline
  hosts: adc_servers
  gather_facts: no
  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: 登录ADC设备
      adc_login:
        ip: "{{ inventory_hostname }}"
        username: "{{ adc_username }}"
        password: "{{ adc_password }}"
      register: login_result

    - name: Set force offline
      adc_system_ha_vrrp:
        ip: "{{ inventory_hostname }}"
        authkey: "{{ login_result.authkey }}"
        vrrp_component: force_offline
        action: set
        force_offline: 1
      register: result
      when: login_result is succeeded

    - name: Display result
      debug:
        var: result
      when: result is defined

    - name: 登出ADC设备
      adc_logout:
        ip: "{{ inventory_hostname }}"
        authkey: "{{ login_result.authkey }}"
      register: logout_result
      when: login_result is succeeded

    - name: 显示登出结果
      debug:
        var: logout_result
      when: logout_result is defined
