---
- name: 示例 - 添加ADC节点
  collections:
    - horizon.modules
  hosts: adc_servers
  gather_facts: no
  vars:
    # adc_ip变量已移除，使用inventory_hostname替代
    adc_username: "admin"
    adc_password: "admin"

  tasks:
    - name: 登录ADC设备
      adc_login:
        ip: "{{ inventory_hostname }}"
        username: "{{ adc_username }}"
        password: "{{ adc_password }}"
      register: login_result

    - name: 显示登录结果
      debug:
        var: login_result

    - name: 添加cache
      adc_slb_cache:
        ip: "{{ inventory_hostname }}"
        authkey: "{{ login_result.authkey }}"
        action: "cache_add"
        api_params:
          name: "555"
          cache_size: 1024
      register: add_node_result_1
      when: login_result is succeeded

    - name: 显示第一个节点添加结果
      debug:
        var: add_node_result_1
      when: add_node_result_1 is defined

    - name: 登出ADC设备
      adc_logout:
        ip: "{{ inventory_hostname }}"
        authkey: "{{ login_result.authkey }}"
      register: logout_result
      when: login_result is succeeded

    - name: 显示登出结果
      debug:
        var: logout_result
      when: logout_result is defined
